
body{
    font-family: "Lato", "NotoSansJP", sans-serif;
    color: #191919;
    a{
        text-decoration: none;
        color: #000;
    }
    overflow-x: hidden;
}

body.active{
  overflow-y: hidden;
}


.wrap{
    padding: 16px;
  }
  // @keyframes zoomUp {
  //   0% {
  //     transform: scale(1);
  //   }
  //   100% {
  //     transform: scale(1.15);
  //   }
  // }
  
  // .swiper-slide-active .slide-img,
  // .swiper-slide-duplicate-active .slide-img,
  // .swiper-slide-prev .slide-img{
  //   animation: zoomUp 10s linear 0s 1 normal both;  
  // }

  .slide-img img{
    display: block;
    width: 100%;
  }
  

  .openbtn1{
    position: relative;/*ボタン内側の基点となるためrelativeを指定*/
    cursor: pointer;
      width: 50px;
      height:50px;
    border-radius: 5px;
  }
  
  /*ボタン内側*/
  .openbtn1 span{
      display: inline-block;
      transition: all .4s;/*アニメーションの設定*/
      position: absolute;
      left: 14px;
      height: 2px;
      border-radius: 2px;
    background: #fff;
      width: 45%;
    }
  
  .openbtn1 span:nth-of-type(1) {
    top:16px; 
  }
  
  .openbtn1 span:nth-of-type(2) {
    top:24px;
  }
  
  .openbtn1 span:nth-of-type(3) {
    top:32px;
  }
  
  /*activeクラスが付与されると線が回転して×に*/
  
  .openbtn1.active span:nth-of-type(1) {
      top: 18px;
      left: 18px;
      transform: translateY(6px) rotate(-45deg);
      width: 30%;
  }
  
  .openbtn1.active span:nth-of-type(2) {
    opacity: 0;/*真ん中の線は透過*/
  }
  
  .openbtn1.active span:nth-of-type(3){
      top: 30px;
      left: 18px;
      transform: translateY(-6px) rotate(45deg);
      width: 30%;
  }

//   ハンバーガーメニュー

  .nav-wrapper{      
    visibility: hidden;
    opacity: 0; 
    width: 100vw;      
    height: 100vh;      
    position: fixed;      
    top:80px;      
    right: 0;
    transition: all .5s;       
    z-index: 10;  


    // transform: translateX(100%);   
  }     
  .header-nav{        
    width: 100%;        
    height: 100%;        
    background-color:#182848;        
    z-index: 10;      
  }     
  .nav-list{        
    display: block;        
    position: absolute;        
    top: 50%;        
    left: 50%;        
    transform: translate(-50%,-50%);        
    text-align: center;     
    
    a{
        color: #fff;
    }
    li{
      margin-bottom: 40px;
    }
  }      
  .nav-item{        
    margin-right: 0;        
    margin-bottom: 40px;      
  }
  
  /* メニューオープン時 */
  .nav-wrapper.fade {
      visibility: visible;
      opacity: 1;
  }

  .nav-wrapper.slide-in {
	transform: translateX(0);
}

  $pc: 1000px; // PC
  $tab: 768px; // タブレット
  $sp: 500px;  // スマホ
  
  @mixin pc {
    @media (max-width: ($pc)) {
      @content;
    }
  }
  @mixin tab {
    @media (max-width: ($tab)) {
      @content;
    }
  }
  @mixin sp {
    @media (max-width: ($sp)) {
      @content;
    }
  }


header{
    background: linear-gradient(to right, #4b6cb7, #182848);
    height: 80px;
    display: flex;
    align-items: center;
    // position: fixed;
    // top: 0;
    // left: 0;
    // right: 0;
    // z-index: 11;
    .head_wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
        padding: 0 20px;
        @include tab{
            padding-right: 10px;
        }
        .left{
          display: flex;
          align-items: center;
          .logo{
              margin-right: 24px;
              width: 136px;
              @include tab{
                  margin: 0;
              }
              @include sp{
                  width: 150px;
                }
          }
        }
        nav{
            ul{
                display: flex;
                @include pc{
                  display: none;
              }
                li{
                    text-align: center;
                    position: relative;
                    padding-right: 36px;
                    &::after{
                      content: "";
                      width: 23px;
                      height: 26px;
                      border-right: 1px solid #fff;
                      transform: skewX(-40deg);
                      position: absolute;
                      top: 0;
                      right: 18px;
                    }
                    a{
                        color: #fff;
                        font-size: 16px;
                        span{
                          font-size: 10px;
                        }
                    }
                }
            }
        }
        .right{
            display: flex;
            align-items: center;
            .openbtn1{
                display: none;
                position: relative;
                z-index: 999;
                @include pc{
                    display: block;
                }
            }

            .btnyoyaku{
              &:hover{
                cursor: pointer;
              }
              @include sp{
                  display: none;
              }
            }
        }
    }

}
.tabhidden{
  @include tab{
      display: none;
    }
    @include sp{
      display: block;
    }
}

.sub{
  display: none;
}

.change-color{
  background-color: #fff;
  position: fixed;
  background: #fff;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  .top{
    display: none;
  }
  .sub{
    display: block;
  }
  .head_wrapper{
    nav{        
      a{
          color: #000000;
      }
    }  
  }
  .openbtn1{
    z-index: 1000;
    span{
      background-color: #000;
    }
  }

}
/*mainvisual
----------------------------------------------------------------*/
.mainvisual{
  background: linear-gradient(to right, #4b6cb7, #182848);
  position: relative;
  .wrapper{
    max-width: 1016px;
    width: 100%;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 20px;
    box-sizing: border-box;
    h1{
      color: #fff;
      font-size: 96px;
      font-weight: 900;
      line-height: 1.17;
      text-shadow: 4.2px 4.2px 4px rgb(24,40,72);
      padding-top: 100px;
      letter-spacing: 0.8px;
      @include pc{
        font-size: 72px;
      }
      @include tab{
        font-size: 48px;
      }
      @include sp{
        font-size: 40px;
      }
    }
    .desc{
      color: #182848;
      font-size: 32px;
      font-weight: bold;
      height: 64px;
      position: relative;
      text-align: center;
      padding: 16px 0;
      width: 300px;
      margin: 19px 0 0 28px;
      box-sizing: border-box;
      border-style: solid;
      border-width: 0;
      @include tab{
        font-size: 18px;
        height: 50px;
        width: 208px;
        margin-left: 10px;
      }
      @include sp{
        font-size: 16px;
        height: 47px;
        width: 175px;
      }
      p{
        position: absolute;
        z-index: 100;
        left: 25px;
        box-sizing: border-box;
        border-style: solid;
        border-width: 0;
      }
      &::after{
        content: "";
        width: 100%;
        height: 100%;
        background-color: #182848;
        transform: skewX(-40deg);
        position: absolute;
        top: 5px;
        left: 5px;
        z-index: 98;
        box-sizing: border-box;
        border-style: solid;
        border-width: 0;
      }
      &::before{
        content: "";
        width: 100%;
        height: 100%;
        background-color: #fff;
        transform: skewX(-40deg);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
        box-sizing: border-box;
        border-style: solid;
        border-width: 0;
    
      }
    }
    .widthw{
      width: 460px;
      @include tab{
        font-size: 20px;
        height: 50px;
        width: 308px;
      }
      @include sp{
        font-size: 16px;
        height: 47px;
        width: 255px;
      }
    }
    .newstag{
      margin-top: 118px;
      width: 100%;
      background-color:#182848;
      display: flex;
      padding: 2px 0;
      padding-right: 100px;
      box-sizing: border-box;
      position: relative;
      &::after{
        content: "";
        border-right: 1px solid #fff;
        border-bottom: 1px solid #fff;
        width: 16px;
        height: 6px;
        display: block;position: absolute;
        right: 5%;
        top: 50%;
        transform: translateY(-50%) skewX(45deg);
        @include tab{
          display: none;
        }
      
      }
      @include tab{
        padding-right: 60px;
      }
      @include tab{
        padding-right: 2px;
        padding-left: 2px;
        margin-top: 120px;
      }
      .news{
        padding: 22px 48px 22px 38px;
        color: #fff;
        @include tab{
          padding-left: 18px;
          padding-right: 24px;
        }
        @include tab{
          padding:12px;
          position: absolute;
          background-color: #182848;
          top:-67%;
          left: 0;
        }
      }
      .inner{
        display: flex;
        background-color: #fff;
        align-items: center;
        transform: skewX(-40deg);
        padding-left: 48px;
        box-sizing: border-box;
        width: 100%;
        @include tab{
          padding-left: 24px;
        }
        @include tab{
          padding-left: 8px;
          transform: skewX(0deg);
        }
 
        p{
          transform: skewX(40deg);
          @include tab{
            transform: skewX(0deg);
          }
        }
        .date{
          margin-right: 24px;
          @include tab{
            margin-right: 12px;
          }
          @include tab{
            font-size: 12px;
            margin-right: 8px;
            padding:20px 0
          }
        }
        .tag{
          font-size: 12px;
          text-align: center;
          width: 80px;
          line-height: 28px;
          background-color: #B8614B;
          color: #fff;
          margin-right: 24px;
          border-radius: 6px;
          @include tab{
            margin-right: 12px;
          }
          @include sp{
            font-size: 10px;
            letter-spacing: -0.06em;
            margin-right: 8px;
          }
        }
        .content{
          line-height: 1.4;
          @include sp{
            font-size: 12px;
          }
        }
      }
    }
  }
}
  
.slide-img img{
  display: block;
  width: 100%;
  height: 100%;
  height: 688px;
  object-fit: cover;
  object-position: left;
  @include tab{
    height: 611px;
  }
  @include sp{
    object-position:20% 100%;
  }
}


  /*service
  -----------------------------------------------------------*/
  .service{
    overflow:hidden;
    padding-bottom: 40px;
    margin-top: 160px;
    @include tab{
      margin-top: 80px;
    }
  }
  .bg{
    background-color:#F0F0F0;
    position: relative;
    padding-bottom: 20px;
    &::before{
      content: "";
      width: 377px;
      height: 100%;
      background-color: #fff;
        transform: skewX(-41deg);
        position: absolute;
        top: 0;
        right: 5px;
        z-index: 2;
    }
    .wrapper{
      position: relative;
      z-index: 3;
      max-width: 1366px;
      width: 100%;
      margin: 0 auto;
      display: flex;
      box-sizing: border-box;
      padding: 0 20px;
      bottom: -40px;
      @include pc{
        flex-direction: column;
      }
      @include sp{
        top: 0;
        padding: 0;
      }
      .imgarea{ 
        flex-basis:45.39%;
        @include pc{
          width: 60%;
        }
        @include tab{
          width: 100%;
        }
        img{
          width: 100%;
        }
      }
      .textarea{
        flex:1;
        margin-left: 48px;
        @include pc{
          margin: 0;
          margin-left: auto;
          margin-top: 80px;
        }
        @include tab{
          margin: 0;
          margin-left: 0;
          margin-top: 80px;
        }
        @include sp{
          margin-top: 40px;
          box-sizing: border-box;
          padding: 0 20px 20px;
        }
        h2{
          color: #191919;
          font-size: 48px;
          font-weight: bold;
          line-height: 0.8;
          @include tab{
            font-size: 36px;
          }
          @include sp{
            font-size: 24px;
          }
          span{
            color: #4b6cb7;
            font-size: 24px;
            position: relative;
            padding-left: 38px;
            &::before{
              content: "";
              width: 23px;
              height: 26px;
              border-right: 1px solid #4b6cb7;
              transform: skewX(-40deg);
              position: absolute;
              top: 0;
              left: -4px;
            }
          }
        }
        .subttl{
          font-size: 32px;
          font-weight: 500;
          line-height: 1.4;
          padding: 39px 0 30px 0;
          @include tab{
            font-size: 24px;
          }
          @include sp{
            font-size: 20px;
          }
        }
        .desc{
          font-size: 16px;
          line-height: 2;
          letter-spacing: 0.32px;
          @include tab{
            br{
              display: none;
            }
          }
        }
        .btn{
          display: inline-block;
          width: 256px;
          height: 64px;
          background-color: #4b6cb7;
          box-shadow: 0px 2px 4px 0 rgb(24, 40, 72);
          color: #fff;
          font-size: 16px;
          text-align: center;
          line-height: 64px;
          -webkit-transition: 0.5s;
          transition: 0.5s;
          margin-top: 52px;
          @include tab{
            margin-top: 30px;
          }
          @include sp{
            display: block;
            margin: 0 auto;
            margin-top: 30px;
          }
          &::after{
            content: "";
            border-right: 1px solid #fff;
            border-bottom: 1px solid #fff;
            width: 16px;
            height: 6px;
            margin-bottom: 3px;
            display: inline-block;
            margin-left: 10px;
            transform: skewX(45deg);
          }

        }
      }
    }
  }


/*about
------------------------------------------------------------------------*/
.about{
  padding: 40px 20px;
  box-sizing: border-box;
  background-image: url("../img/background-image-about.jpg");
  background-size: cover;
  margin-top:160px;
  @include sp{
    padding: 0;
    margin-top:30px;
  }
  .wrapper{
    max-width:1016px;
    width: 100%;
    margin: 0 auto;
    .item{
      background-color: #fff;
      width: 50%;
      box-sizing: border-box;
      padding-top: 36px;
      padding-left: 48px;
      padding-right: 48px;
      padding-bottom: 48px;
      box-sizing: border-box;
      @include pc{
       width: 80%;
       margin: 0 auto;
      }
      @include tab{
        width: 100%;
        margin: 0 auto;
       }
       @include sp{
        padding: 20px;
      }
      h2{
        color: #191919;
        font-size: 48px;
        font-weight: bold;
        line-height: 0.8;
        margin-bottom: 37px;
        line-height: 1.4;
        @include tab{
          font-size: 36px;
        }
        @include sp{
          font-size: 24px;
        }
        span{
          color: #4b6cb7;
          font-size: 24px;
          position: relative;
          padding-left: 38px;
          &::before{
            content: "";
            width: 23px;
            height: 26px;
            border-right: 1px solid #4b6cb7;
            transform: skewX(-40deg);
            position: absolute;
            top: 0;
            left: -4px;
          }
        }
      }
      .subttl{
        font-size: 32px;
        font-weight: 500;
        line-height: 1.4;
        padding: 39px 0 30px 0;
        @include tab{
          font-size: 24px;
        }
        @include sp{
          font-size: 20px;
        }
      }
      .desc{
        font-size: 16px;
        line-height: 2;
        letter-spacing: 0.32px;
        margin-bottom:45px;
        @include tab{
          br{
            display: none;
          }
        }
      }
      .btn{
        display:block;
        width: 256px;
        height: 64px;
        background-color: #4b6cb7;
        box-shadow: 0px 2px 4px 0 rgb(24, 40, 72);
        color: #fff;
        font-size: 16px;
        text-align: center;
        line-height: 64px;
        transition: 0.5s;
        margin-bottom: 32px;
        @include sp{
          margin: 0 auto;
          margin-bottom: 32px;
        }
        &::after{
          content: "";
          border-right: 1px solid #fff;
          border-bottom: 1px solid #fff;
          width: 16px;
          height: 6px;
          margin-bottom: 3px;
          display: inline-block;
          margin-left: 10px;
          transform: skewX(45deg);
        }

      }
      img{
        width: 100%;
      }
      .spa{
        display: none;
        @include sp{
          display: block;
          margin-bottom: 30px;
          width: 100%;
          height: 248px;
          object-fit: cover;

        }
      }
      .sph{
        @include sp{
          display: none;
        }
      }
    }
  }
}

/*works
-------------------------------------------------------------*/

.works{
  margin-top: 160px;
  box-sizing: border-box;
  overflow:hidden;

  @include tab{
    margin-top: 120px;
  }
 
  .bg2{
    background-color: #F0F0F0;
    position: relative;
    padding: 0 20px;
    @include tab{
      padding-bottom: 45px;
    }
    &::after{
      content: "";
      width: 80%;
      height: 100%;
      background-color: #fff;
      
      transform: translateX(-50%)  skewX(41deg);
      position: absolute;
      top: 0;
      left: 50%;
      z-index: 2;
    }
    .inner{
      position: relative;
      z-index: 3;
      text-align: center;
      h2{
        color: #191919;
        font-size: 48px;
        font-weight: bold;
        line-height: 1.4;
        @include tab{
          padding-top: 40px;
          font-size: 36px;
        }
        @include sp{
          font-size: 24px;
          text-align: left;
        }
        span{
          color: #4b6cb7;
          font-size: 24px;
          position: relative;
          padding-left: 38px;
          &::before{
            content: "";
            width: 23px;
            height: 26px;
            border-right: 1px solid #4b6cb7;
            transform: skewX(-40deg);
            position: absolute;
            top: 0;
            left: -4px;
          }
        }
      }
      .subttl{
        color: #191919;
        font-size: 32px;
        font-weight: 500;
        text-align: center;
        padding: 34px 0 37px;
        line-height: 1.4;
        @include tab{
          font-size: 24px;
        }
        @include sp{
          font-size: 20px;
          text-align: left;
        }
      }
      .desc{
        font-size: 16px;
        line-height: 2;
        letter-spacing: 0.32px;
        text-align: center;
        @include sp{
         br{
           display: none;
         }
         text-align: left;
        }
      }

      .flex{
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 984px;
        margin: 0 auto;
        margin-top: 54px;
        margin-bottom: 40px;
        @include tab{
          margin-bottom:0;
        }
        @include tab{
          flex-direction: column;
          align-items: center;
        }
        .item{
          width: 47.97%;
          position: relative;
          @include tab{
            width: 90%;
            margin-bottom: 40px;
          }
          @include sp{
            width: 100%;
          }
          img{
            display: block;
            width: 100%;
          }
          .num{
            position: absolute;
            width: 56px;
            line-height: 56px;
            text-align: center;
            color: #fff;
            background-color:#182848;
            font-size: 24px;
            font-weight:500;
            top:0;
            left: 0;
            transform: translate(-30% , -30%);
          }
          .item_text{
            padding:22px 24px 16px 24px;
            text-align: left;
            box-sizing: border-box;
            background-color: #fff;
            h3{
              font-size: 24px;
              line-height: 1;
              margin-bottom:22px;
              color:#B8614B;
              @include sp{
                font-size: 18px;
              }
            }
            p{
              line-height: 2;
              letter-spacing: 0.01em;
            }
          }
        }
      }
      .btn{
          display:block;
          width: 256px;
          height: 64px;
          background-color: #4b6cb7;
          box-shadow: 0px 2px 4px 0 rgb(24, 40, 72);
          color: #fff;
          font-size: 16px;
          text-align: center;
          line-height: 64px;
          transition: 0.5s;
          margin: 0 auto;
          @include sp{
            margin: 0 auto;
          }
          &::after{
            content: "";
            border-right: 1px solid #fff;
            border-bottom: 1px solid #fff;
            width: 16px;
            height: 6px;
            margin-bottom: 3px;
            display: inline-block;
            margin-left: 10px;
            transform: skewX(45deg);
          }
      }
    }
  }
}

/*reqruit
----------------------------------------------------------------*/
.rec{
  background-color:#F0F0F0;
  padding-top:68px;
  padding-bottom:80px;
  h2{
    text-align: center;
    color: #191919;
    font-size: 48px;
    font-weight: bold;
    line-height: 1.4;
    @include tab{
      padding-top: 40px;
      font-size: 36px;
    }
    @include sp{
      font-size: 24px;
      padding-left: 20px;
      text-align: left;
    }
    span{
      color: #4b6cb7;
      font-size: 24px;
      position: relative;
      padding-left: 38px;
      &::before{
        content: "";
        width: 23px;
        height: 26px;
        border-right: 1px solid #4b6cb7;
        transform: skewX(-40deg);
        position: absolute;
        top: 0;
        left: -4px;
      }
    }
  }
  .flex{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 43px;
    flex-wrap: wrap;
    box-sizing: border-box;
    @media screen and (max-width:1024px) {
     flex-direction: column;
     justify-content: center;
     align-items: center;
   }
    a{
      display: block;
      position: relative;
      box-sizing: border-box;
      @media screen and (max-width:1024px) {
        width: 60%;
        display: block;
       }
       @include sp{
        width: 100%;
        margin: 0;
      }
      img{
        box-sizing: border-box;
        @media screen and (max-width:1024px) {
         width: 100%;
        }
        @include sp{
          height: 200px;
          object-fit: cover;
        }
      }
      &:first-child{
        padding-top: 86px;
        @media screen and (max-width:1024px) {
          padding-top:0;
          margin-bottom: 60px;
          margin-left: 0;
        }
        @include sp{
          margin: 0;
        }
      }
      &:nth-child(2){
        padding-top: 43px;
        margin: 0 28px;
        @media screen and (max-width:1024px) {
          padding-top:0;
          margin-bottom: 60px;
          margin-left: 0;
          margin-right: 0;
        }
        @include sp{
          margin: 0;
        }
      }
      p{
        width: 264px;
        color: #fff;
        line-height: 56px;
        box-sizing: border-box;
        padding: 0 16px;
        background-color: rgba($color:#182848, $alpha:0.6);
        display: flex;
        align-items: center;
        position: absolute;
        bottom: -8%;
        right: -4%;
        &::after{
          content: "";
          border-right: 1px solid #fff;
          border-bottom: 1px solid #fff;
          width: 16px;
          height: 6px;
          display: inline-block;
          margin-left: auto;
          transform: skewX(45deg);
          @include sp{
            margin-left: 1em;
          }
        }
        @include sp{
          bottom:0;
          right:auto;
          left: 0;
          background-color: rgba($color: #000000, $alpha: 0);
          font-size: 20px;
        }
      }

      @include sp{
        &::before{
          content: "";
          position: absolute;
          display: block;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          background-color: rgba($color: #000000, $alpha: 0.4);
        }
        
      }
    }
  }
  .btn{
    display:block;
    width: 256px;
    height: 64px;
    background-color: #4b6cb7;
    box-shadow: 0px 2px 4px 0 rgb(24, 40, 72);
    color: #fff;
    font-size: 16px;
    text-align: center;
    line-height: 64px;
    transition: 0.5s;
    margin: 0 auto;

    margin-top: 64px;

    @include sp{
      margin: 0 auto;
      margin-top: 40px;
    }
    &::after{
      content: "";
      border-right: 1px solid #fff;
      border-bottom: 1px solid #fff;
      width: 16px;
      height: 6px;
      margin-bottom: 3px;
      display: inline-block;
      margin-left: 10px;
      transform: skewX(45deg);
    }
}
}

/*contact
------------------------------------------------------------------------------*/
.contact{
  background-image: url("../img/bckground-image-contact.jpg");
  background-size: cover;
  padding: 65px 20px 75px;
  h2{
    text-align: center;
    color:#fff;
    font-size: 48px;
    font-weight: bold;
    line-height: 1.4;
    @include tab{
      padding-top: 40px;
      font-size: 36px;
    }
    @include sp{
      font-size: 24px;
      text-align: left;
    }
    span{
      color:#fff;
      font-size: 24px;
      position: relative;
      padding-left: 38px;
      &::before{
        content: "";
        width: 23px;
        height: 26px;
        border-right: 1px solid #fff;
        transform: skewX(-40deg);
        position: absolute;
        top: 0;
        left: -4px;
      }
    }
  }
  .desc{
    font-size: 16px;
    line-height: 2;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 53px;
    @include tab{
     br{
       display: none;
     }
    }
    @include sp{
      text-align-last: left;
     }
  }
  .flex{
    display: flex;
    justify-content: center;
    @include tab{
      flex-direction: column;
      align-items: center;
    }
    .btn{
      width: 320px;
      display: flex;
      align-items: center;
      color: #fff;
      background-color: #B8614B;
      justify-content: center;
      line-height: 56px;
      span{
        margin-left: 16px;
      }
      @include sp{
        width: 100%;
      }
      &::after{
        content: "";
        border-right: 1px solid #fff;
        border-bottom: 1px solid #fff;
        width: 16px;
        height: 6px;
        margin-bottom: 3px;
        display: inline-block;
        margin-left: 10px;
        transform: skewX(45deg);
      }
      &:nth-child(2){
        background-color:#000;
        margin-left: 80px;
        @include tab{
          margin-left:0px;
          margin-top: 24px;
        }
      }
    }
  }
}
/*footer
------------------------------------------------------------*/
footer{
  background-color: #182848;
  padding: 0 20px;
  box-sizing: border-box;
  color: #fff;
  padding-top: 84px;
  padding-bottom: 100px;
  @include tab{
    padding-top: 44px;
    padding-bottom: 60px;
   }
  .wrapper{
    width: 100%;
    max-width: 1016px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    @include tab{
      flex-direction: column-reverse;
    }
    .left{
      img{
        display: block;
        margin-bottom:35px;
        @include sp{
         width: 200px;
        }
      }
      p{
        margin-bottom:18px;
      }
    }
    .right{
      padding-top: 86px;
      @include tab{
       padding: 0;
      }
      ul{
        writing-mode: vertical-rl;
        @include tab{
          writing-mode:horizontal-tb;
          display: flex;
          flex-direction: column-reverse;
          margin-bottom: 77px;
        }
        li{
          margin-left: 24px;
          @include tab{
            margin-bottom:18px;
           }
          &:nth-child(2){
            margin-left: 80px;
            @include tab{
              margin-left: 0;
            }
          }
          &:nth-child(3){
            @include tab{
             margin-bottom:60px;
            }
          }
          a{
            color: #fff;
          }
          @include tab{
            margin-left: 0;
          }
        }
      }
    }
  }
}
.cop{
  background-color:#191919;
  color: #fff;
  width: 100%;
  // max-width: 1016px;
  box-sizing: border-box;
  padding-left: 20px;
  p{
    line-height: 60px;
    text-align: left;
    font-size: 12px;
  }
}


/*ham　&& changeheader
--------------------------*/
.nav-list{
  a{
    font-size: 18px;
    line-height: 1.2;
    span{
      font-size: 12px;
    }
  }
}

/*
-----------------------------------------*/
#loading {
  /* 画面いっぱいになる箇所 */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color:#182848;
  transition: all 1s;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;

  &.loaded {
      opacity: 0;
      visibility: hidden;
  }

  /* 中のローディングアニメ */
  .loader,
  .loader:before,
  .loader:after {
      background: #ffffff;
      animation: loading 1s infinite ease-in-out;
      width: 1em;
      height: 4em;
  }

  .loader {
      color: #ffffff;
      text-indent: -9999em;
      margin: 88px auto;
      position: relative;
      font-size: 11px;
      transform: translateZ(0);
      animation-delay: -0.16s;

      &::before,
      &::after {
          position: absolute;
          top: 0;
          content: '';
      }

      &::before {
          left: -1.5em;
          animation-delay: -0.32s;
      }

      &::after {
          left: 1.5em;
      }
  }



  @-webkit-keyframes loading {

      0%,
      80%,
      100% {
          box-shadow: 0 0;
          height: 4em;
      }

      40% {
          box-shadow: 0 -2em;
          height: 5em;
      }
  }

  @keyframes loading {

      0%,
      80%,
      100% {
          box-shadow: 0 0;
          height: 4em;
      }

      40% {
          box-shadow: 0 -2em;
          height: 5em;
      }
  }

}
